@import url('https://fonts.googleapis.com/css?family=Montserrat')


for $i in 1..100
  .montserrat-{$i}
    font-family: Montserrat, sans-serif
    font-size: $i px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
