@import url('https://fonts.googleapis.com/css?family=Quicksand')

for $i in 1..100
  .quicksand-{$i}
    font-family: Quicksand, sans-serif
    font-size: $i px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
